
.border-container {
    border: 12px double #F70D1A;
    border-radius: 20px;
    background-color: #FDEE00;
    margin: 0 auto;
}

body {
    width: 99%;
    height: 900px;
    font-family: 'Wendy One', sans-serif;
  }

.mains {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#order-box {
  width: 500px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 24px;
  color: #F70D1A;
  text-shadow: 1px 1px black;
  border: double 5px #F70D1A;
  }
  
.items{
  color: #F70D1A;
  text-shadow: 1px 1px black;
  font-size: 18px;
  }

  
#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}
  
h1 {
  color: #f30;
  text-shadow: 1px 1px black;
}

#burger-image{
  height: 300px;
  position: relative;
  bottom: 1px;    
  right: 1px;
}

.buttons {
  background:#f70d1a;
  border:8px double #fdee00;
  border-radius: 30px;
  padding:2px 12px;
  color:#fdee00;
  text-shadow: 1px 1px black;
  position: relative;
}
    
.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.devour{
  bottom: 28px;
  right: 10px;
}

#order-button{
  margin-top: 10px;
}

#order-window{
  margin-top: 25px;
}
 


  